.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/images/backgrounds/sunny.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.search-container{
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.title{
  font-weight: 100;
  font-size: 40px;
  color: #000;
  text-align: center;
}

.search-box {
  margin-top: 1%;
  margin-left: 30%;
}

.search-box *{
  display: inline-block;
  margin-left: 5%;
}


.cityname{
  width: 35%;
  border-radius: 15px;
  outline: none;
}

.cityname::-webkit-input-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}
.cityname::-moz-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}
.cityname::-ms-input-placeholder {
  font-weight: lighter;
  color:#AFB2B3;
}

.cityname:focus::placeholder {
  color: transparent;
}

.submit {
  width: 15%;
  height: 4vh !important;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: #000;
  color: white;
}

.submit:hover{
  cursor: pointer;
  background-color: rgb(41, 41, 41);
}